:global :local(li.item) {
  width: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:hover {
    background-color: #ffffff;
    color: #da7f67;
  }

  &.Mui-selected {
    background-color: #fef5ea;
    color: #da7f67;
  }

  &.Mui-selected:hover {
    background-color: #fef5ea;
  }

  /* 👇 Non-desktop (mobile/tablet) width */
  @media (max-width: 1024px) {
    width: 52px;
  }
}
