$color-gold-900: #362514;
$color-gold-800: #5c3e21;
$color-gold-700: #81582f;
$color-gold-600: #a6713d;
$color-gold-500: #c18b55;
$color-gold-400: #cfa47a;
$color-gold-300: #dcbea0;
$color-gold-200: #ead7c5;
$color-gold-100: #f8f1ea;

$color-brown-900: #160c08;
$color-brown-800: #3b2216;
$color-brown-700: #603724;
$color-brown-600: #854c32;
$color-brown-500: #aa6140;
$color-brown-400: #c17b5c;
$color-brown-300: #cf9981;
$color-brown-200: #ddb7a6;
$color-brown-100: #ebd5cb;
$color-brown-50: #f2e4dd;

$color-navy-900: #0b0f16;
$color-navy-800: #1b2639;
$color-navy-700: #2c3d5b;
$color-navy-600: #3d547d;
$color-navy-500: #4d6ba0;
$color-navy-400: #6985b7;
$color-navy-300: #8ca1c7;
$color-navy-200: #aebdd8;
$color-navy-100: #d0d9e9;
$color-navy-50: #e2e7f1;

$color-golf-900: #0d110c;
$color-golf-800: #242e22;
$color-golf-700: #3b4c37;
$color-golf-600: #52694d;
$color-golf-500: #698663;
$color-golf-400: #839f7d;
$color-golf-300: #9fb59a;
$color-golf-200: #bbcbb7;
$color-golf-100: #d7e0d5;
$color-golf-50: #e5ebe4;

$color-gray-1000: #11100f;
$color-gray-900: #2c2927;
$color-gray-800: #47433f;
$color-gray-700: #625c57;
$color-gray-600: #7d766f;
$color-gray-500: #968f89;
$color-gray-400: #aea9a4;
$color-gray-300: #c6c2bf;
$color-gray-250: #d2cfcc;
$color-gray-200: #dedcda;
$color-gray-150: #eae9e7;
$color-gray-100: #f6f5f5;
$color-white: #fff;

$color-suc-900: #160c08;
$color-suc-800: #3b2216;
$color-suc-700: #375231;
$color-suc-600: #4c7244;
$color-suc-500: #619257;
$color-suc-400: #7bab71;
$color-suc-300: #99be91;
$color-suc-200: #b7d1b1;
$color-suc-100: #d4e4d1;

$color-warn-900: #412e09;
$color-warn-800: #6e4e0f;
$color-warn-700: #9b6e14;
$color-warn-600: #c98e1a;
$color-warn-500: #e4a832;
$color-warn-400: #eabb5f;
$color-warn-300: #f0ce8c;
$color-warn-200: #f6e1b9;
$color-warn-100: #fcf4e6;

$color-error-900: #170807;
$color-error-800: #3f1512;
$color-error-700: #67221d;
$color-error-600: #8e2f29;
$color-error-500: #b63c34;
$color-error-400: #cd5850;
$color-error-300: #d87e78;
$color-error-200: #e4a49f;
$color-error-100: #efc9c7;

$color-info-900: #2c2927;
$color-info-800: #47433f;
$color-info-700: #625c57;
$color-info-600: #7d766f;
$color-info-500: #968f89;
$color-info-400: #aea9a4;
$color-info-300: #c6c2bf;
$color-info-200: #dedcda;
$color-info-100: #f6f5f5;

$background-color: $color-gray-100;

$color-label: #999999;
$color-hover: #e9e9e9;
$color-point: #da7f67;
$color-point-sub: #eb8887;
$color-footer: #2c2c2c;
$color-warning: #fb9600;
$color-line: #999999;
$color-primary: #1a1a1a;
$color-neutral-30: #c8c8c8;

$color-dark-medium: #4f4f4f;
