.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ripple-wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.checkbox-custom {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;

  .checkbox-unchecked {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 1px solid $color-point;
    border-radius: 50%;
  }
}
