@font-face {
  font-family: "Time Sans Serif";
  src: url("../assets/fonts/time-sans-serif/time-sans-serif.woff2") format("woff2"),
       url("../assets/fonts/time-sans-serif/time-sans-serif.ttf") format("truetype"),
       url("../assets/fonts/time-sans-serif/time-sans-serif.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  font-size: calc(14px + 0.25vw);

  body {
    height: 100%;
    font-family:
      "Time Sans Serif",  /* 👈 새 폰트를 가장 앞에 추가 */
      Pretendard,
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }

  #root {
    height: 100%;
  }
}
