.logo {
  width: 72px;
  height: 61px;
  object-fit: contain;
  display: block;
}

.mobileLogo {
  width: 129px;
  height: 23px;
  object-fit: contain;
  display: block;
}

.link {
  display: block;
}
