.logo {
  width: 148px;
  height: 28px;
  object-fit: contain;
  display: block;
  overflow: visible;
}

.mobileLogo {
  width: 129px;
  height: 23px;
  object-fit: contain;
  display: block;
}

.link {
  display: block;
}
